[package]
name = "bc-envelope-cli"
version = "0.8.1"
edition = "2021"
description = "Gordian Envelope Command Line Tool."
authors = ["Blockchain Commons"]
keywords = ["encoding", "cbor", "binary", "format", "serialization"]
repository = "https://github.com/BlockchainCommons/bc-envelope-cli-rust"
readme = "README.md"
license = "BSD-2-Clause-Patent"
categories = ["data-structures", "encoding", "command-line-utilities"]
documentation = "https://docs.rs/bc-envelope-cli"

[[bin]]
name = "envelope"
path = "src/main.rs"

[dependencies]
dcbor = "^0.15.0"
bc-ur = "^0.5.0"
bc-envelope = "^0.18.0"
bc-components = "^0.12.0"

clap = { version = "^4.4.3", features = ["derive", "unstable-styles"] }
anyhow = "^1.0.0"
anstyle = "^1.0.1"
hex = "^0.4.3"
regex = "^1.9.5"
ssh-key = { version = "=0.6.6", default-features = false, features = ["dsa", "ecdsa", "rand_core", "std", "crypto"] }

[dev-dependencies]
assert_cmd = "^2.0.12"
indoc = "^2.0.0"
